.file-grid {
  padding-top: 5px;
  display: grid;
  grid-gap: 10px 5px;
  grid-auto-rows: 75px;
  grid-auto-columns: 80px;
  grid-template-columns: repeat(auto-fill, 80px);
  .cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;

    img {
      justify-self: flex-start;
      max-width: 36px;
      max-height: 36px;
    }

    .cell-name {
      text-align: center;
      display: block;
      font-size: 15px;
      font-family: Georgia, "Times New Roman", Times, serif;
      max-width: 86%;
      text-overflow: ellipsis;
    }
  }
}
.wallpaper-grid {
  grid-gap: 10px 5px;
  grid-auto-rows: 72px;
  grid-auto-columns: 100px;
  grid-template-columns: repeat(auto-fill, 100px);

  .cell-name {
    color: #fff;
    text-shadow: 1px 1px #000;
  }
}
