.bar {
  height: 40px;
  width: 100%;
  background-color: $barBlue;
  z-index: 2;
  display: flex;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(148, 187, 233, 0) 18%
  );
  box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
}

$taskbarItemBlue: #1e94f0;
$taskbarItemBorderDark: #0067ba;
$taskbarItemBorderLight: #1c87d7;
$clockBlue: #47b2ea;

ul.taskbar {
  margin: 0;
  padding: 3px 0px 3px 10px;
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;

  li {
    height: 100%;
    flex: 0 1 146px;
    margin: 0px 1px 0px 0px;
    background-color: $taskbarItemBlue;
    border: 1px solid $taskbarItemBorderLight;
    border-top-color: $taskbarItemBorderDark;
    border-bottom-color: $taskbarItemBorderDark;
    border-right-color: $taskbarItemBorderDark;
    padding: 3px 10px;
    border-radius: 4px;
    // white glow in top left corner
    background-image: linear-gradient(
      157deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(148, 187, 233, 0) 18%
    );
    // Tiny inset box shadow on the bottom
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.05);

    &.active {
      background-color: #0063b6;
      border-color: #004d9a;
      background-image: none;
      box-shadow: inset 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
    }
  }
  .cell {
    height: 100%;
    display: flex;
    align-items: center;
    img {
      width: 18px;
      max-height: 100%;
      margin-right: 4px;
    }
    .cell-name {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #fff;
      font-size: 13px;
    }
  }
}

.taskbar__clock {
  background-color: $clockBlue;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 15px 0 22px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(148, 187, 233, 0) 18%
  );
  box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.3);

  span {
    width: 60px; // so the container width doesn't change when the time changes
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
  }
}
